<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/styleSheet1.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='container'>

    <div class='row justify-content-lg-center' id='row1'>
      <div class="rounded-pill col-lg-auto" id="topPill">
          <h1>My Spotify Project</h1>
      </div>
    </div>

    <div class='row' id='row1'>
      <div class="col-lg-auto" id="pills">
        <a href="/visualizer" class="rounded-pill btn btn-primary">My Spotify</a>
      </div>
    </div>

    <div class='row' id='row1'>
      <div class="col-lg-auto" id="pills">
        <a href="/blueTooth" class="rounded-pill btn btn-primary">Connect Device(s)</a>
      </div>
    </div>

    <div class='row' id='row1'>
      <div class="col-lg-auto" id="pills">
        <a href="/colorScheme" class="rounded-pill btn btn-primary">Edit Color Schemes</a>
      </div>
    </div>

  </div>
</body>
</html>
