html{
    height: 100%;
    /*
    margin: 0px;
    width: 100%;
    */
}
body{
    background-color: rgb(25,20,20); /*for broswers that dont support gradients*/
    background-image: linear-gradient(rgb(0,0,0),gray);
    /*
    74, 67, 67
    */
}

#jumboTest{ 
    /*spotify green*/
    margin-left: 38%;
    margin-right: 38%;
    background-image: radial-gradient(rgb(30, 215, 96),rgb(9,145,46));
    /*
    border-color: blue; 
    background-color: rgb(30, 215, 96);
    border-width: 5px;
    border-style: solid;
    */
}

#jumbo{
   /* background-image: linear-gradient(rgb(25,20,20),rgb(0,0,0));
   */
    background-color: rgb(25,20,20);
    
}

